@font-face {
  font-family: 'CruinnBlack';
  src: url('./CruinnBlack.ttf');
}

@font-face {
  font-family: 'CruinnBold';
  src: url('./CruinnBold.ttf');
}

@font-face {
  font-family: 'CruinnLight';
  src: url('./CruinnLight.ttf');
}

@font-face {
  font-family: 'CruinnMedium';
  src: url('./CruinnMedium.ttf');
}

@font-face {
  font-family: 'CruinnThin';
  src: url('./CruinnThin.ttf');
}

@font-face {
  font-family: 'CruinnRegular';
  src: url('./CruinnRegular.ttf');
}
