@import './base.scss';
@import './reset.scss';
@import './fonts/fonts.scss';
@import './reset.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'CruinnBold';
}

body {
  min-height: 100vh;
  font-size: 15px;
  background: linear-gradient(135deg, #007bff 0%, #00d4ff 100%);
}
